.progress-ring {
   position: relative;
}

.progress-ring-circle {
   transition: stroke-dashoffset 0.4s;
   transform-origin: 50% 50%;
   transform: rotate(-90deg);
}

.progress-text-header {
   font-size: 1.5rem;
}

circle {
   -webkit-filter: url(#inset-shadow);
           filter: url(#inset-shadow);
}