#topbar-button {
   display: flex;
   position: flex;
   width: 3rem;
   height: 3rem;
   justify-content: center;
   align-items: center;
   gap: 0.625rem;
   flex-shrink: 0;
   border-radius: 6.25rem;
   background: var(--light-bg, #121212);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

#topbar-icon {
   font-size: 1.6rem;
   flex-shrink: 0;
   color: var(--accent, #CDA745);
}

#topbar {
   display: flex;
   margin: auto;
   position: fixed;
   inset: 0px;
   width: 100%;
   max-width: 25rem;
   padding: 1.75rem 2rem;
   justify-content: space-between;
   flex-direction: row;
   z-index: -10;
}