#scouting-container {
   display: flex;
   flex-direction: column;
   width: 100%;  
   padding: 3rem;
   @media (min-width: 500px) {
      max-width: 24rem;
   }}

#scouting-tab-header {
   width: 100%;
   color: var(--accent);
   font-weight: 500;
}

