#scouting-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 2rem;
   gap: 0.875rem;
   height: 100%;
   justify-content: center;
}

#scouting-tab-header {
   width: 100%;
   color: var(--accent);
   font-weight: 500;

   @media (min-width: 400px) {
      max-width: 22rem;
   }

   margin-inline: auto;
}

#scouting-tab-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#scouting-info-bar-wrapper {
   position: absolute;
   bottom: 0rem;
   left: 0;
   height: 6rem;
   width: 100vw;
   padding: 0 2rem;
}

#scouting-info-bar {
   height: 5rem;
   margin: auto;
   display: flex;
   padding: 0.5rem;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   flex-shrink: 0;
   border-radius: var(--soft-corner, 0.9375rem);
   background: var(--dark-nav, #141414);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

   @media (min-width: 500px) {
      max-width: 24rem;
   }
}

#scouting-match-info {
   width: 7rem;
   height: 100%;
   background-color: var(--light-nav);
   display: flex;
   flex-direction: column;
   padding: 1rem;
   align-items: center;
   justify-content: center;
   font-size: 0.9rem;
   border-radius: 1rem;
   font-weight: 500;
}

#info-top {
   color: var(--accent);
   display: flex;
   flex-direction: row;
}

#info-bottom {
   color: var(--light-text);
   display: flex;
   flex-direction: row;
}

#data-header {
   color: var(--accent);
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   font-weight: 500;
}

#scouting-match-data {
   height: 100%;
   background-color: var(--light-nav);
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   padding: 1rem;
   align-items: center;
   justify-content: center;
   font-size: 0.9rem;
   border-radius: 1rem;
}

.data-content {
   color: var(--light-text);
}