#scouting-container {
   display: flex;
   flex-direction: column;
   width: 100%;  
   padding: 2rem;
   gap: 0.875rem;
}

#scouting-tab-header {
   width: 100%;
   color: var(--accent);
   font-weight: 500;
   @media (min-width: 400px) {
      max-width: 22rem;
   }
   margin-inline: auto;
}

#scouting-tab-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}