#toolbar-button {
    display: flex;
    position: absolute;
    bottom: 0rem;
    width: 4.625rem;
    height: 4.625rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--dark-text, #4D4C4C);
    padding: 3rem;
}

#toolbar-button-icon {
    font-size: 2rem;
}