#topbar-button {
   display: flex;
   position: flex;
   width: 3rem;
   height: 3rem;
   justify-content: center;
   align-items: center;
   gap: 0.625rem;
   flex-shrink: 0;
   border-radius: 6.25rem;
   background: var(--light-bg, #121212);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
   cursor: pointer;
}

#topbar-icon {
   font-size: 1.6rem;
   flex-shrink: 0;
   color: var(--accent, #CDA745);
}

#topbar {
   margin: 1rem 0rem 0rem 0rem;
   display: flex;
   position: absolute;
   width: 100%;
   top: -0.5rem;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   padding: 0 1rem 0 1rem;

   @media (min-width: 500px) {
      max-width: 24rem;
   }
}

#topbar-wrapper {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

#topbar-settings {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.topbar-settings-options {
   background-color: var(--light-bg);
   color: var(--dark-text);
   display: flex;
   width: 3rem;
   font-size: 1.35rem;
   align-items: center;
   padding: 0.5rem 0 0.5rem 0;
   margin: 0;
   gap: 0.2rem;
   flex-direction: column;
   border-radius: 100px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.topbar-option {
   border-radius: 100px;
   width: 2.5rem;
   height: 2.5rem;
   transition: 0.2s;
   background-color: var(--light-nav);
}

.topbar-option:active {
   background-color: var(--accent-dim);
   color: var(--accent);
}

.topbar-option-line {
   background-color: var(--light-nav);
   height: 0.2rem;
   width: 2rem;
   border-radius: 100px;
}