#dashboard {
   width: 100%;
   position: absolute;
   top: 0;
   height: 100%;
   display: flex;
   flex-direction: column-reverse;

   @media (min-width: 500px) {
      max-width: 24rem;
   }
}

#dashboard-main {
   gap: 0.75rem;

   display: flex;
   flex-direction: column;
   padding: 6rem 1rem 7rem 1rem;
   width: 100%;

   height: 100%;

   color: var(--dark-text);
   font-size: 0.9rem;
   font-weight: 500;
   border-radius: 1rem;

   overflow: scroll;
}

#dashboard-main::-webkit-scrollbar {
   display: none;
}

#dashboard-scouting {
   display: flex;
   padding: 1.125rem 1.5rem;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 0.625rem;
   align-self: stretch;

   border-radius: var(--soft-corner, 0.9375rem);
   background: var(--light-bg, #121212);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

#dashboard-scouting-submit {
   display: flex;
   height: 2.2rem;
   padding: 0.25rem 0.1875rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.625rem;
   aspect-ratio: 1;
   background-color: var(--accent);

   border-radius: var(--round-corner, 6.25rem);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

   font-size: 1.3rem;
   color: var(--dark-bg);
}

#dashboard-section-header {
   color: var(--accent, #CDA745);
   font-family: Poppins;
   font-size: 0.9375rem;
   font-weight: 500;
   height: 1.625rem;
   line-height: 1.625rem;
}

#dashboard-section-details {
   color: var(--light-text);
   font-family: Poppins;
   font-size: 0.9375rem;
   font-weight: 400;
   height: 1.625rem;
   line-height: 1.625rem;
}

.transition {
   display: flex;
   flex-direction: row;
}

#dashboard-section-details.dim {
   color: var(--dark-text);
   font-weight: 400;
}

#dashboard-scouting-overview {
   display: flex;
   padding: 0 0 0 1.5rem;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   align-self: stretch;

   border-radius: var(--soft-corner, 0.9375rem);
   background: var(--light-bg, #121212);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

#dashboard-overview-progress {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   align-items: center;
   justify-content: center;
   align-self: stretch;

   border-radius: var(--soft-corner, 0.9375rem);
   background: var(--light-nav);
}

#dashboard-section-seperator {
   height: 0.4rem;
   width: 100%;
   margin: 0.2rem 0;
   border-radius: 100px;
   background: var(--light-nav);

}

#overview-left {
   height: 100%;
   padding: 1.125rem 0;
}

#dashboard-main-header {
   display: flex;
   justify-content: space-between;
   height: 1.25rem;
   line-height: 1.25rem;
}

#pit-button {
   color: var(--accent);
}

#dashboard-header {
   display: flex;
   justify-content: space-between;
}

.red {
   color: var(--warning-red);
}

.blue {
   color: var(--warning-blue)
}

.dashboard-stats {
   display: flex;
   flex-grow: 1;
   flex-direction: row;
   gap: 1rem;
   justify-content: space-between;
}

.dashboard-stats.right {
   display: flex;
   flex-direction: column;
   height: 100%;
   background-color: var(--light-bg);
   flex-basis: 50%;
   border-radius: 1rem;
   padding: 1.125rem 1.5rem 1.125rem 1.5rem;
}

.dashboard-stats.left {
   display: flex;
   flex-direction: column;
   height: 100%;
   flex-basis: 40%;
   gap: 0;
}

#dashboard-stats-header {
   color: var(--accent);
   font-size: 0.935rem;
}

.dashboard-stats.next {
   padding: 1.125rem 1.5rem 1.125rem 1.5rem;
   background-color: var(--light-bg);
   border-radius: 1rem;
   flex-grow: 0.8;
}

.dashboard-stats.button {
   padding: 1.125rem 1.5rem 1.125rem 1.5rem;
   background-color: var(--light-bg);
   border-radius: 1rem;
   align-items: center;
   flex-grow: 0;
   font-weight: 400;
   color: var(--accent);
   display: flex;
   flex-direction: row;
   font-size: 1rem;
   justify-content: left;
   gap: 0.2rem;
}

#dashboard-stats-text {
   font-weight: 400;
   font-size: 0.935rem;
   color: var(--light-text);
}
