#notification-container {
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   height: 3rem;
   z-index: 100;
   background: var(--dark-nav);
   border-radius: 10rem;
   font-size: 0.9rem;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
   gap: 0.5rem;
   padding: 0.5rem 1.25rem;
   text-wrap: nowrap;
   color: var(--light-text)
}

#notification-root {
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 1rem;
   z-index: 0;
   width: 12rem;
   right: calc(50vw - 6rem);
}

#notification-seperator {
   height: 100%;
   width: 0.25rem;
   border-radius: 100rem;
   background-color: var(--light-nav);
}

#notification-icon {
   font-size: 1.25rem;
}

#notification-icon.success {
   color: var(--accent);
}

#notification-container.success {
   color: var(--light-text)
}

#notification-icon.error {
   color: var(--warning-red)
}

#notification-icon.info {
   color: var(--dark-text)
}

#notification-container.info {
   color: var(--dark-text)
}