#install-prompt {
   display: flex;
   width: 19rem;
   padding: 1rem 1.4rem;
   flex-direction: column;
   font-weight: 500;
   color: var(--warning-red);
   font-size: 0.9375rem;

   background: transparent;
   border-radius: var(--soft-corner);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);

   border: 0.15rem solid var(--warning-red);
}

#welcome-prompt {
   display: flex;
   width: 19rem;
   padding: 1rem 1.4rem;
   flex-direction: column;
   font-weight: 500;
   color: rgb(120, 200, 150);
   font-size: 0.9375rem;

   background: transparent;
   border-radius: var(--soft-corner);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);

   border: 0.15rem solid rgba(120, 200, 151, 0.2);
}

#install-prompt-header {
   display: flex;
   gap: 0.5rem;
   align-items: center;
   font-size: 1rem;
}

#install-prompt-button {
   margin-left: auto;
}

#install-prompt-details {
   display: flex;
   flex-direction: column;
   gap: 0.6rem;   
   font-weight: 400;
   font-size: 0.875rem;
   overflow: hidden;
}

